* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(28, 25, 38)
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 90vh;
    border: 2px solid rgb(201, 156, 41);
}
  
.ball {
    position: absolute;
    height: 30px;
    width: 30px;
    background: rgb(187, 185, 211);
    left: 50%;
    top: 50%;
    border-radius: 50%;
}
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(185, 211, 190);
    left: 50%;
    top: 50%;
}
.square {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgb(211, 200, 185);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.diamond {
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: rgb(211, 185, 209);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.trapezoid {
    position: absolute;
    height: 30px;
    width: 30px;
    background: rgb(191, 185, 211);
    left: 50%;
    top: 50%;
    transform: skew(-20deg);
    transform-origin: left;
    border-radius: 5px;
}
